* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.header__content {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: #D7D7D7;
}

.header__menu {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #D7D7D7;
}

.header__center span {
    background-color: #D7D7D7;
    
}

.header__button {
    background-color: #D7D7D7;
}