.newsList__page {
    display: flex;
    flex-direction: column;
    margin: 32px 420px 32px 420px;
    gap: 8px;
    align-items: center;
}

.news__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    gap: 8px;
}

.news__title svg {
    stroke-width: 1.50px;
    stroke: #000;
}