.panel_one {
   width: 100%;
    border-radius:15px;
    align-self: center;
    background: radial-gradient(
      82.13% 82.13% at 50% 53.07%,
      rgb(113, 173, 49) 0%,
      rgb(9, 79, 51) 100%
    );
  }

  /* .img_container {
    margin: 20px 20px 20px 0px;
  }

  .border_img {
    display: flex;
    align-items: center;
  }

  .border_img img {
    position: absolute;
  }

  .external_border_img {
    display: flex;
    justify-self: center;
  }
  
  .internal_border_img {
    display: flex;
    align-self: center;
    position: absolute;
    margin-left: 42px;
  } */
  
  .text_one {
    display: flex;
    justify-content: space-around;
    margin: 30px;
  }
  
  
  .year .one {
    font-weight: 550;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .year .two {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .objects .one{
    font-weight: 550;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
  }

  .objects .two {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }
  .peoples .one {
    font-weight: 550;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .peoples .two {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }

  .technics .one {
    font-weight: 550;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .technics .two {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }
  