.panel_one {
   width: 100%;
    border-radius:54px;
    align-self: center;
    background: radial-gradient(
      82.13% 82.13% at 50% 53.07%,
      rgb(113, 173, 49) 0%,
      rgb(9, 79, 51) 100%
    );
    display: flex;
    justify-content: space-between;
  }

  .img_container {
    margin: 20px 20px 20px 0px;
  }

  .border_img {
    display: flex;
    align-items: center;
  }

  .border_img img {
    position: absolute;
  }

  .external_border_img {
    display: flex;
    justify-self: center;
  }
  
  .internal_border_img {
    display: flex;
    align-self: center;
    position: absolute;
    margin-left: 42px;
  }
  
  .text_one {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 100px;
    gap: 10px;
  }
  
  .one {
    font-weight: 550;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .two {
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .three,
  .four,
  .five {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 1200px) {
    
   
  }
  
  
  @media screen and (max-width: 998px) {
      

  }
  
  
  @media screen and (max-width: 768px) {
  
  
  }
  
  
  @media screen and (max-width: 576px) {
  
  }