.panel_two {
  background: radial-gradient(
      82.13% 82.13% at 50% 53.07%,
      rgb(113, 173, 49) 0%,
      rgb(9, 79, 51) 100%
    );
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    border-radius:54px;
    padding:0px;
  }

  .img2_container {
    margin: 60px 20px 0px 0px;
  }
  
  .text {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 60px;
  }
  
  .p_one {
    font-weight: 550;
    font-size: 100px;
    color: #fff;
    text-transform: uppercase;
    
  }
  
  .p_two,.p_three,.p_four {
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .p_five,
  .p_six,
  .p_seven {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 1200px) {
  
  }
  
  
  @media screen and (max-width: 998px) {
     
  }
  
  
  @media screen and (max-width: 768px) {
  
  }
  
  
  @media screen and (max-width: 576px) {
  
  }